.UserCard {
  position: relative;
  display: flex;
  align-items: center;

  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  // width: 100%;
  width: 400px;
  min-height: 200px;
  margin: 0 auto;
  gap: 15px;

  &-textWrapper {
    width: 165px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-login {
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
  }

  &-bio {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-thumb {
    width: 170px;
    height: 170px;
    border-radius: 5px;
    overflow: hidden;
  }

  &-avatar {
  }

  &-currentBtn {
    position: absolute;
    top: 5px;
    right: 0;
  }

  &-favoriteBtn {
    position: absolute;
    top: 45px;
    right: 0;
  }

  &-link {
    color: white;
    font-weight: 700;
  }
}
