.UserCard {
  position: relative;
  display: flex;
  align-items: center;

  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;

  width: 500px;
  height: 215px;
  // min-height: 200px;
  margin: 10px auto;
  gap: 15px;

  box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
    0px 4px 4px rgba(0, 0, 0, 0.3);

  &-textWrapper {
    width: 265px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-follow {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-text {
      font-size: 15px;
    }

    &-numbers {
      font-size: 20px;
    }
  }

  &-name {
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-login {
    font-size: 14px;
    margin-bottom: 5px;
    font-style: italic;
  }

  &-bio {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 3px;
  }

  &-thumb {
    // width: 170px;
    // height: 170px;
    border-radius: 5px;
    overflow: hidden;
  }

  &-avatar {
    width: 170px;
    height: 170px;
  }

  &-currentBtn {
    position: absolute;
    top: 5px;
    right: 0;
  }

  &-favoriteBtn {
    position: absolute;
    top: 45px;
    right: 0;
  }

  &-link {
    color: white;
    font-weight: 700;
  }
}
