.CardList {
  max-width: 500px;
  width: 100%;

  max-height: 458px;
  overflow-y: auto;
  padding-right: 4px;

  margin: 10px 0;

  @media screen and (min-width: 480px) {
    max-height: 554px;
  }

  &-loading {
    margin-top: -40px;
    text-align: center;
    font-size: 25px;
  }

  &-warning {
    font-size: 17px;
    text-align: center;
    margin: 5px 0;
  }

  // scrollbar-gutter: stable && both-edges;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #bbbdc7;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
  }
}

.Card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:hover {
    cursor: pointer;
  }

  &-textWrapper {
    flex-shrink: 1;
    max-width: 150px;

    @media screen and (min-width: 430px) {
      max-width: 290px;
    }

    @media screen and (min-width: 530px) {
      max-width: 330px;
    }
  }

  &-login {
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
  }

  &-bio {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @media screen and (max-width: 480px) {
      display: none;
    }
  }

  &-thumb {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
  }

  &-favBtnWrapper {
    padding-right: 3px;

    @media screen and (min-width: 480px) {
      padding-right: 15px;
    }
  }

  &-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 15px;

    @media screen and (min-width: 480px) {
      padding: 15px;
    }
  }

  &-loadMore {
    height: 40px;
    width: 100%;
  }
}
