.CardList {
  width: 500px;
  max-height: 500px;
  overflow-y: auto;
  // padding-right: 4px;

  margin: 10px 0;

  &-loading {
    margin-top: -40px;
    text-align: center;
    font-size: 25px;
  }

  &-warning {
    font-size: 17px;
    text-align: center;
    margin: 5px 0;
  }

  // scrollbar-gutter: stable && both-edges;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #bbbdc7;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
  }
}

.Card {
  display: flex;
  align-items: center;
  // justify-content: center;
  // flex-direction: column;
  justify-content: space-between;
  // gap: 15px;
  // padding: 10px 20px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 99%;
  // width: 100%;

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:hover {
    cursor: pointer;
  }

  &-textWrapper {
    flex-shrink: 1;
    max-width: 330px;
  }

  &-login {
    // max-width: 165px;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
  }

  &-bio {
    // max-width: 220px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-thumb {
    width: 50px;
    height: 50px;
    // margin-right: 15px;
    border-radius: 5px;
    overflow: hidden;
  }

  &-avatar {
  }

  &-favBtnWrapper {
    padding-right: 15px;
  }

  &-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
  }

  &-loadMore {
    height: 40px;
    width: 100%;
  }
}
