.CardList {
  width: 400px;
  max-height: 500px;
  overflow-y: auto;
  padding-right: 10px;
  margin-bottom: 20px;

  &-loading {
    text-align: center;
    font-size: 25px;
  }

  &-warning {
    text-align: center;
    font-size: 25px;
  }
}

.Card {
  display: flex;
  align-items: center;
  // justify-content: center;
  // flex-direction: column;
  justify-content: space-between;
  // gap: 15px;
  // padding: 10px 20px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:hover {
    cursor: pointer;
  }

  &-textWrapper {
    // margin-right: 10px;
    flex-shrink: 1;
    max-width: 215px;
  }

  &-login {
    // max-width: 165px;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
  }

  &-bio {
    // max-width: 220px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-thumb {
    width: 50px;
    height: 50px;
    // margin-right: 15px;
    border-radius: 5px;
    overflow: hidden;
  }

  &-avatar {
  }

  &-favBtnWrapper {
    padding-right: 15px;
  }

  &-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
  }

  &-nextPageBtn {
    height: 1px;
    width: 100%;
  }
}
