.App {
  background-color: #282c34;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 50px 10px;

  &-switchBtn {
    margin-bottom: 10px;
  }

  &-searchField {
    margin-bottom: 10px;
  }
}
